.columns {
  margin-top: 0; }

.hero {
  height: 650px;
  background-color: #2ED3EA;
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/58efb1866b0361480e31bb71/5994628820a70b00012ecb4a_bg-pattern-messy-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .hero .hero-head .nav {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 1.5rem; }
  .hero .hero-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .hero .hero-body .title, .hero .hero-body .subtitle {
      color: white; }
    .hero .hero-body .title {
      font-size: 4.5rem;
      margin-bottom: 2rem; }
    .hero .hero-body .subtitle {
      font-size: 2rem; }

.about {
  background-image: url(/images/backgrounds/tools.png);
  background-size: cover;
  background-position: 50% 50%; }
  .about .about-column .title {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .about .about-column .subtitle {
    font-size: 1.5rem;
    line-height: 1.75; }
  .about .image-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .about .image-column .image {
      height: 450px;
      margin: 0 auto; }

@media (max-width: 1024px) {
  .about {
    height: auto; }
    .about .columns * {
      display: block; }
    .about .columns {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .about .columns .about-column {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
      .about .columns .image-column {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; } }

@media (max-width: 768px) {
  .about {
    height: auto; }
    .about .columns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.projects {
  background-repeat: repeat; }
  .projects .projects-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .projects .columns .project-tile {
    position: relative;
    padding: 0;
    margin: 0.75em; }
    .projects .columns .project-tile .image {
      display: block;
      width: 100%;
      height: auto; }
    .projects .columns .project-tile .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      -webkit-transition: .5s ease;
      transition: .5s ease;
      background-color: #f2f2f2; }
    .projects .columns .project-tile:hover .overlay {
      opacity: 1; }

.contact {
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/58efb1866b0361480e31bb71/59938178f485f50001f3714e_bg-pattern-messy-2.svg");
  background-size: cover;
  background-position: 50% 50%;
  background-color: #31A0F0; }

.contact-header {
  padding: 9rem 0; }
  .contact-header .contact-info {
    text-align: center; }
    .contact-header .contact-info .subtitle {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 0 5rem; }
  .contact-header .contact-buttons {
    text-align: center; }
    .contact-header .contact-buttons .button {
      padding: 0 2rem; }

.contact-footer {
  padding-top: 3rem; }
