body * {
  font-family: "Varela Round", Helvetica, Arial, sans-serfif; }

.nav-item img {
  max-height: 100%; }

.nav-toggle {
  color: white; }

.link-hover {
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .link-hover:hover {
    -webkit-box-shadow: inset 0 -3px 0 0 #8FE6E8;
            box-shadow: inset 0 -3px 0 0 #8FE6E8; }

.columns {
  margin-top: 0; }

.contact-info *,
.contact-footer {
  color: white; }

@media screen and (max-width: 768px) {
  .is-visible {
    display: block !important; } }

.is-hidden {
  display: none; }

.hide-scroll {
  overflow: hidden; }

.is-visible-modal {
  position: fixed !important;
  overflow-y: auto !important;
  height: 100% !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  border-radius: 0px !important;
  opacity: 1 !important;
  z-index: 100 !important;
  visibility: visible !important; }
  .is-visible-modal * {
    opacity: 1 !important; }

.to-circle {
  width: 4rem !important;
  color: transparent !important;
  border-radius: 50% !important;
  -webkit-transition: color .2s 0s, background-color .3s ease-in-out, width .3s .2s, border-radius .1s .3s;
  transition: color .2s 0s, background-color .3s ease-in-out, width .3s .2s, border-radius .1s .3s; }

.hero {
  height: 750px;
  background-color: #2ED3EA;
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/58efb1866b0361480e31bb71/5994628820a70b00012ecb4a_bg-pattern-messy-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .hero .hero-head .nav {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 1.5625rem; }
    .hero .hero-head .nav .nav-menu > a {
      color: white; }
    .hero .hero-head .nav .nav-brand {
      padding: 0;
      -ms-flex-negative: 1;
          flex-shrink: 1; }
  .hero .hero-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .hero .hero-body .title, .hero .hero-body .subtitle {
      color: white; }
    .hero .hero-body .title {
      font-size: 4.5rem;
      margin-bottom: 2rem; }
    .hero .hero-body .subtitle {
      font-size: 2rem; }

@media screen and (max-width: 1407px) {
  .hero {
    height: 100vh; } }

@media screen and (max-width: 1215px) {
  .hero {
    height: 650px; } }

@media screen and (max-width: 1023px) {
  .hero .hero-head .nav .container {
    padding: 0 1rem; }
  .hero .hero-body .title {
    font-size: 4rem; } }

@media screen and (max-width: 768px) {
  .hero {
    height: 100vh; }
    .hero .hero-head .nav {
      margin: .9rem .4rem 0 .4rem;
      padding: .5rem .9375rem 0 .9375rem; }
      .hero .hero-head .nav .container {
        padding: 0; }
      .hero .hero-head .nav .nav-menu.nav-right {
        top: 4rem;
        border-radius: .2rem; }
        .hero .hero-head .nav .nav-menu.nav-right * {
          font-size: 1.2rem; }
        .hero .hero-head .nav .nav-menu.nav-right .nav-item {
          color: #363636;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
    .hero .hero-body .title {
      font-size: 2.9rem; }
    .hero .hero-body .subtitle {
      font-size: 1.4rem; } }

@media screen and (max-width: 479px) {
  .hero .hero-head .nav {
    padding: .625rem .625rem 0 .625rem; }
  .hero .hero-body .title {
    font-size: 1.6rem; }
  .hero .hero-body .subtitle {
    font-size: 1rem; } }

.about {
  background-image: url(/images/backgrounds/tools.png);
  background-size: cover;
  background-position: 50% 50%; }
  .about .columns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about .about-column .title {
    margin-bottom: 3rem; }
  .about .about-column .subtitle {
    font-size: 1.5rem;
    line-height: 1.75; }
  .about .image-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .about .image-column .image {
      height: 450px;
      margin: 0 auto; }

@media (max-width: 1023px) {
  .about {
    height: auto; }
    .about .columns * {
      display: block; }
    .about .columns {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .about .columns .about-column {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
      .about .columns .image-column {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; } }

@media (max-width: 767px) {
  .about {
    height: auto;
    padding: 0 1.5rem; }
    .about .about-column .subtitle {
      font-size: 1.4rem; }
    .about .image-column {
      padding: 0; } }

.projects {
  background-repeat: repeat; }
  .projects .projects-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .projects .projects-header .right-aligned-link {
      font-size: .8rem;
      color: #005276;
      padding-bottom: 0.5rem; }
  .projects .columns .column.project-tile {
    position: relative;
    padding: 0;
    margin: 0.75em;
    border-radius: 5rem; }
    .projects .columns .column.project-tile .image {
      border-radius: .3rem;
      display: block;
      width: 100%;
      height: auto;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
      -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
              box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08); }
    .projects .columns .column.project-tile .overlay {
      border-radius: .3rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      -webkit-transition: .5s ease;
      transition: .5s ease;
      background-color: #f2f2f2; }
    .projects .columns .column.project-tile:hover .overlay {
      opacity: 1; }
  .projects .container .button {
    display: block;
    margin: 0 auto; }

.contact {
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/58efb1866b0361480e31bb71/59938178f485f50001f3714e_bg-pattern-messy-2.svg");
  background-size: cover;
  background-position: 50% 50%;
  background-color: #31A0F0; }

.contact-header {
  padding: 9rem 0; }
  .contact-header .contact-info {
    text-align: center; }
    .contact-header .contact-info .subtitle {
      line-height: 1.75;
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 0 3rem; }
  .contact-header .contact-form {
    position: relative; }
  .contact-header .contact-buttons {
    text-align: center; }
    .contact-header .contact-buttons #contact-toggle-btn {
      display: inline-block;
      -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
      height: auto;
      width: 11em;
      line-height: 3.4rem;
      border-radius: 5px;
      color: #333;
      border: 2px solid white;
      white-space: nowrap;
      font-size: 1.3rem;
      background-color: white; }
  .contact-header .contact-modal {
    visibility: hidden;
    background-color: white;
    opacity: 0;
    position: fixed;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    top: 47%;
    left: 47%;
    -webkit-transition: all .2s 0.4s;
    transition: all .2s 0.4s;
    z-index: -2; }
    .contact-header .contact-modal * {
      opacity: 0;
      -webkit-transition: opacity 0.5s 0.65s;
      transition: opacity 0.5s 0.65s; }
    .contact-header .contact-modal .form-container {
      max-width: 700px;
      margin: auto; }
      .contact-header .contact-modal .form-container form {
        margin-top: 5rem;
        display: grid; }
        .contact-header .contact-modal .form-container form .form-row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .contact-header .contact-modal .form-container form .form-row * {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1; }
        .contact-header .contact-modal .form-container form .control {
          margin: .5rem; }

.contact-footer .footer-social a {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  margin: 0 0.8rem; }

@media screen and (max-width: 768px) {
  .contact .contact-footer {
    text-align: center; } }

@media screen and (max-width: 500px) {
  .contact-model * {
    opacity: 0;
    -webkit-transition: opacity 0.65s 0.7s;
    transition: opacity 0.65s 0.7s; } }
