.contact {
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/58efb1866b0361480e31bb71/59938178f485f50001f3714e_bg-pattern-messy-2.svg");
  background-size: cover;
  background-position: 50% 50%;
  background-color: #31A0F0;
}
.contact-header {
  padding: 9rem 0;
  .contact-info {
    text-align: center;
    .subtitle {
      line-height: 1.75;
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 0 3rem;
    }
  }
  .contact-form {position: relative;}
  .contact-buttons {
    text-align: center;
    #contact-toggle-btn {
      display: inline-block;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.2), 0px 0px 10px rgba(0,0,0,0.1);
      height: auto;
      width: 11em;
      line-height: 3.5rem;
      border-radius: 5px;
      color: #333;
      border: 2px solid white;
      white-space: nowrap;
      font-size: 1.2rem;
      background-color: white;
    }
  }
  .contact-modal {
    visibility: hidden;
    background-color: white;
    opacity: 0;
    position: fixed;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    top: 47%;
    left: 47%;
    transition: all .2s 0.4s;
    z-index: -2;
    * {opacity: 0; transition: opacity 0.5s 0.65s;}
    .form-container {
      max-width: 700px;
      margin: auto;
      form {
        margin-top: 5rem;
        display: grid;
        .form-row {
          display: flex;
          * { flex: 1; }
        }
        .control { margin: .5rem; }
      }
    }
  }
}

.contact-footer {
  .footer-social a {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
    margin: 0 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .contact .contact-footer { text-align: center;}
}

@media screen and (max-width: 500px) {
  .contact-model * {opacity: 0; transition: opacity 0.65s 0.7s;}
}
