.contact {
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/58efb1866b0361480e31bb71/59938178f485f50001f3714e_bg-pattern-messy-2.svg");
  background-size: cover;
  background-position: 50% 50%;
  background-color: #31A0F0;
}
.contact-header {
  padding: 9rem 0;
  .contact-info {
    text-align: center;
    .subtitle {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 0 5rem;
    }
  }
  .contact-buttons {
    text-align: center;
    .button {
      padding: 0 2rem;
    }
  }
}

.contact-footer {
  padding-top: 3rem;
}
