.hero {
  height: 750px;
  background-color: #2ED3EA;
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/58efb1866b0361480e31bb71/5994628820a70b00012ecb4a_bg-pattern-messy-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .hero-head .nav {
    box-shadow: none; // Removes Bulma-defined shadow line
    padding-top: 1.5625rem;
    .nav-menu > a { color: white; }
    .nav-brand {
      padding: 0;
      flex-shrink: 1;
    }
  }
  .hero-body {
    display: flex;
    align-items: center;
    .title, .subtitle { color: white; }
    .title {
      font-size: 4.5rem;
      margin-bottom: 2rem;
    }
    .subtitle {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 1407px) {
  .hero { height: 100vh; }
}

@media screen and (max-width: 1215px) {
  .hero { height: 650px; }
}

@media screen and (max-width: 1023px) {
  .hero {
    .hero-head .nav .container { padding: 0 1rem; }
    .hero-body {
      .title { font-size: 4rem; }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 400px;
    .hero-head .nav {
      padding: 0.5rem 0.9375rem 0 0.9375rem;
      .container { padding: 0; }
      .nav-menu.nav-right {
        top: 4rem; // Adds space between header nav and toogle nav
        border-radius: 0.2rem;
        .nav-item { color: #363636; justify-content: center; }
      }
    }
    .hero-body {
      .title { font-size: 2.9rem; }
      .subtitle { font-size: 1.4rem; }
    }
  }
}

@media screen and (max-width: 479px) {
  .hero {
    .hero-head .nav { padding: 0.625rem 0.625rem 0 0.625rem; }
    .hero-body {
      .title { font-size: 1.6rem; }
      .subtitle { font-size: 1rem; }
    }
  }
}
