.projects {
  // background-image: url(/images/backgrounds/tools.png);
  background-repeat: repeat;
  .projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right-aligned-link {
      color: #005276;
      padding-bottom: 0.5rem; // Separate text and hover line effect
    }
  }
  .columns {
    .column.project-tile {
      position: relative;
      padding: 0;
      margin: 0.75em;
      .image {
        display: block;
        width: 100%;
        height: auto;
      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #f2f2f2;
      }
      &:hover .overlay {
        opacity: 1;
      }
    }
  }
  .container .button {
    display: block;
    margin: 0 auto;
  }
}
